<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testng.org.SoftAssertion"/>
      <class name="testng.org.TestCase1"/>
      <class name="testng.org.TestCase2"/>
       <class name="listeners.ListenerTestNGTestCase"/>
      <class name="listeners.NewTest"/>
       <class name="command.org.HelloTesters"/>
      <class name="command.org.ActionsClass"/>
      <class name="command.org.HandleScroll"/>
      <class name="command.org.Highlight"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
